
.img-up{
    display: flex;
    align-items: flex-end;
    height: 200px;
    grid-area: img-up;
    background-image: url(../bannerHazparte/bannerhazparte.png);
}
.text-banner{
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    width: 250px;
    height: 45px;
    background-color: var(--purple-color);
    color: var(--amarillo);
    font-weight: bold;
    font-size: 20px;
}