/*Banner con controles*/

#slider{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}


#slider input[type=radio]{
    display: none;
}

#slider label{
    cursor: pointer;
}

#slide1:checked~ #slides .inner{
    margin-left: 0;
}
#slide2:checked~ #slides .inner{
    margin-left: -100%;
}
#slide3:checked~ #slides .inner{
    margin-left: -200%;
}
#slide4:checked~ #slides .inner{
    margin-left: -300%;
}
#slide5:checked~ #slides .inner{
    margin-left: -400%;
}
#slides {
    padding: 2rem 0rem 0rem 0rem;
}
#slides .inner{
    margin: 1.5rem 0rem 0rem 0rem;
    display: flex;
    width: 500%;
    height: 350px;
    transition: margin-left 1s cubic-bezier(.11, .9, .78, .1 );
}
#slides h1{
    padding: 1rem 0 0 0 ;
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1.5rem;

}
.slide-content img{
    width:13em;
    border-radius: 2px;
    margin-bottom: 1rem;
}
.slide-content p{
    text-align: justify;
}
.read-more{
    cursor: pointer;
    margin-top: 2rem;
    width: 100px;
    border-radius: 20px;
    border: 2px solid var(--light-green);
    background-color: white;
    color: var(--light-green);
}
.read-more:hover{
    background-color: var(--light-green);
    color: white;
}
#slides .slide_1, .slide_2, .slide_3 ,.slide_4, .slide_5{
    width:100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.controllers{
    width: 50px;
    height: 50px;
    display: none;
}
.bullets{
    display: flex;
    justify-content: center;
    align-content: center;
}

.bullets label{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple-color);
    font-weight: 600;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--purple-color);
    border-radius: 100%;
    margin: 1rem;
}

#slide1:checked ~ .bullets label:nth-child(1),
#slide2:checked ~ .bullets label:nth-child(2),
#slide3:checked ~ .bullets label:nth-child(3),
#slide4:checked ~ .bullets label:nth-child(4),
#slide5:checked ~ .bullets label:nth-child(5){
    background-color: var(--purple-color);
    color: white;
}

@media screen and (min-width:1024px){
    .slide-content img{
            width: 180px;
        }
        
        #slides .inner{
            display: flex;
            width: 170%;
            height: 350px;
            transition: margin-left 1s cubic-bezier(.11, .9, .78, .1 );
        }
        #slide1:checked~ #slides .inner{
            margin-left: 0;
        }
        #slide2:checked~ #slides .inner{
            margin-left: 0;
        }
        #slide3:checked~ #slides .inner{
            margin-left: 0;
        }
        #slide4:checked~ #slides .inner{
            margin-left: -35%;
        }
        #slide5:checked~ #slides .inner{
            margin-left: -70%;
        }
        .bullets label{
            width: 10px;
            height: 10px;
            border: 1px solid var(--purple-color);
            border-radius: 100%;
            margin: 1rem;
            font-size: 0px;
        }
    }